<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zistone.blecontrol">
    <!--
    摄像头权限
    required="false":如果用户设备上没有这个类库,不允许应用安装在这个设备上
    required="true":如果这个类库存在,则应用程序能够使用这个类库,也可以设计成没有这个类库应用程序也可以工作
    -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 位置权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="andriod.permission.ACCESS_FINE_LOCATION" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--  从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!---->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!---->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!---->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="stateAlwaysHidden">
        <activity
            android:name=".activity.TemperatureMeasure"
            android:label="体温测量" />
        <activity
            android:name=".activity.MaterialsInDB"
            android:label="物料绑定" />
        <activity
            android:name=".activity.CommandTest"
            android:label="指令测试" />
        <activity
            android:name=".activity.PowerControl"
            android:label="电力控制" />
        <activity
            android:name=".activity.BleDeviceList"
            android:label="低功耗蓝牙设备列表" />
        <activity
            android:name="com.zistone.opencv.FaceDetectActivity"
            android:label="人脸检测" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>